* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --blue: dodgerblue;
  --black: #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
}

.head {
  position: relative;
 
}
.head__logo__group {
  display: flex;
  padding: 10px;
}
.head__bg {
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}

.head__logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.head__title {
  cursor: pointer;
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  margin: auto;
  padding: 10px;
}

.head__menu {
  padding: 20px;
}

.head__container {
  padding: 3%;
  margin: 0 auto;
  position: absolute;
}

.main__title {
  width: 100%;
  height: auto;
  
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: normal;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  transition: 0.5s;
}

nav ul li a:hover {
  background-color: var(--blue);
}

pre {
  color: var(--white);
  margin-top: 150px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
}

.main__btn {
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--blue);
  border-radius: 50px;
  transition: 0.5s;
}

.btn:hover {
  background-color: whitesmoke;
  color: var(--black);
}

.selectioncolor {
  color: var(--white);
  padding-top: 250px;
}

.colorset {
  width: 100%;
  height: auto;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  margin: auto;
  padding: 40px;
}

.colorset__iximage {
  width: 1024px;
  height: auto;
  content: url(assets/png/lightoff.png);
  margin: auto;
  padding: 20px;
}

.colorset__iximage:hover {
  content: url(assets/png/lighton.png);
  padding: 20px;
  margin: auto;
}

.main__paragraph {
  white-space: pre-wrap;
  margin-right: 40%;
  padding: 140px 5px;
}

.main{
  padding: 20px 30px;
}
