*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/automoyive_bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 3%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav .bodylogo{
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px 20px;
    font-size:  16px;
    border-radius:  30px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: dodgerblue;
}

.bodylogo {
    cursor: pointer;
    /* display: inline-block; */
    text-align: center;
}

h1{
    color: whitesmoke;
    margin-top: 150px;
    font-size: 23px;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: dodgerblue;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover {
    background-color: dodgerblue;
}

.logo_img{
    width: 32px;
    height: 32px;
}
span{
    position: relative;
    display: inline-block;
    
}

