/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    background-image: url(images/automoyive_bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 3%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

/* nav {
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
} */

a {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px 20px;
    font-size:  16px;
    border-radius:  30px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: dodgerblue;
}

pre{
    color: whitesmoke;
    margin-top: 150px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: dodgerblue;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover {
    background-color: whitesmoke;
    color: black;
}

.logo_img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.LogoTitleStyle {
    cursor: pointer;
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.selectioncolor {
    color: white;
    padding-top: 250px;
}

article {
    padding-top: 5px;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
}


.article:hover::after {
    background-image: url("/images/Light.png");
    cursor: pointer;
}